<div class="panel panel-default">
  <div class="panel-heading">
    <h1>About Me</h1>
  </div>
  <div class="panel-body">
    I'm a daring Web Developer located in Raleigh, North Carolina.
    <p></p>
    I'm learning how to code for a career change. <p></p> I'm making progress towards that goal every day. 
    <p></p>
      </div>
</div>

<div class="center">
  <%= link_to pins_path do %>
    <span class="glyphicon glyphicon-arrow-left" title=Back></span> Back
  <% end %>
</div>